body {

font-family: Arial, sans-serif;

background:#F7F3ED;

color:#083D3D;

padding:40px;

}

h1{

font-size:64px;

max-width:700px;

}

p{

font-size:24px;

}

a{

display:inline-block;

padding:18px 30px;

border:2px solid #083D3D;

border-radius:10px;

text-decoration:none;

color:#083D3D;

font-weight:bold;

margin-top:20px;

}
